* {
	font-family: system-ui;
}

body {
	background-color: blanchedalmond;
}

.menu-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.menu-container h2 {
	text-decoration: underline;
}

.menu-container > div {
	text-align: center;
	padding-left: 48px;
	padding-right: 48px;
}

.lhs {
	border-right: 1px solid black;
}

.menu-item > p:first-of-type {
	font-weight: bold;
	padding-bottom: 0;
	margin-bottom: 0;
}

.menu-item > p:nth-of-type(2) {
	padding-top: 0.125rem;
	margin-top: 0.125rem;
}

nav {
	display: flex;
	justify-content: center;
}

.nav-item {
	margin-left: 2rem;
	margin-right: 2rem;
	font-size: 2rem;
}

.nav-item:hover {
	cursor: pointer;
	text-decoration: underline;
}

.input-text {
	display: flex;
	flex-direction: column;
	width: fit-content;
}

.contact-container {
	display: block;
	width: fit-content;
}

#phone-email {
	display: flex;
	justify-content: space-around;
}

#send-message {
	margin-top: 0.5rem;
	background-color: rebeccapurple;
	color: aliceblue;
	border-radius: 3px;
}
